
obj/_Punchando.csproj.nuget.cache
obj/_Punchando.csproj.nuget.g.props
obj/_Punchando.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/_Punchando.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/_Punchando.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/_Punchando.assets.cache
obj/Debug/netcoreapp2.2/_Punchando.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/_Punchando.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/_Punchando.csprojAssemblyReference.cache
obj/project.assets.json
Proyecto_Monlic/Proyecto_Monlic/bin/WebGrease.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.WebPages.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.WebPages.Razor.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.WebPages.Razor.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.WebPages.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.WebPages.Deployment.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.WebPages.Deployment.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Razor.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Razor.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Optimization.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Optimization.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Mvc.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Mvc.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Helpers.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Web.Helpers.dll
Proyecto_Monlic/Proyecto_Monlic/bin/System.Diagnostics.DiagnosticSource.xml
Proyecto_Monlic/Proyecto_Monlic/bin/System.Diagnostics.DiagnosticSource.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/VBCSCompiler.exe.config
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/VBCSCompiler.exe
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/vbc.rsp
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/vbc.exe.config
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/vbc.exe
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Xml.XPath.XDocument.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Xml.XPath.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Xml.XmlDocument.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Xml.ReaderWriter.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.ValueTuple.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Text.Encoding.CodePages.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.Principal.Windows.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.Cryptography.Primitives.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.Cryptography.Encoding.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.Claims.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Security.AccessControl.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Reflection.Metadata.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.IO.Pipes.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.IO.Pipes.AccessControl.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.IO.FileSystem.Primitives.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.IO.FileSystem.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.IO.Compression.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Diagnostics.StackTrace.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Console.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.Collections.Immutable.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/System.AppContext.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.VisualBasic.Core.targets
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.Managed.Core.targets
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.CSharp.Core.targets
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.CodeAnalysis.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/csi.rsp
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/csi.exe.config
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/csi.exe
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/csc.rsp
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/csc.exe.config
Proyecto_Monlic/Proyecto_Monlic/bin/roslyn/csc.exe
Proyecto_Monlic/Proyecto_Monlic/bin/Proyecto_Monlic.pdb
Proyecto_Monlic/Proyecto_Monlic/bin/Proyecto_Monlic.dll.config
Proyecto_Monlic/Proyecto_Monlic/bin/Proyecto_Monlic.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Owin.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Newtonsoft.Json.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Newtonsoft.Json.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Web.Infrastructure.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Twitter.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Twitter.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.OAuth.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.OAuth.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Google.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Google.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Facebook.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Facebook.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Cookies.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Security.Cookies.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Host.SystemWeb.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.Host.SystemWeb.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.Owin.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.TelemetryCorrelation.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.TelemetryCorrelation.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.Identity.Owin.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.Identity.Owin.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.Identity.EntityFramework.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.Identity.Core.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AspNet.Identity.Core.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.ApplicationInsights.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.WindowsServer.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.WindowsServer.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.Web.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.Web.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.ServerTelemetryChannel.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.PerfCounterCollector.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.DependencyCollector.xml
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.DependencyCollector.dll
Proyecto_Monlic/Proyecto_Monlic/bin/Microsoft.AI.Agent.Intercept.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.WebPages.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.WebPages.Razor.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.WebPages.Deployment.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.Razor.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.Optimization.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.Mvc.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/System.Web.Helpers.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/Microsoft.AspNet.Identity.Owin.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/Microsoft.AspNet.Identity.EntityFramework.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/Microsoft.AspNet.Identity.Core.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/EntityFramework.SqlServer.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/es/EntityFramework.resources.dll
Proyecto_Monlic/Proyecto_Monlic/bin/EntityFramework.xml
Proyecto_Monlic/Proyecto_Monlic/bin/EntityFramework.SqlServer.xml
Proyecto_Monlic/Proyecto_Monlic/bin/EntityFramework.SqlServer.dll
Proyecto_Monlic/Proyecto_Monlic/bin/EntityFramework.dll
Proyecto_Monlic/Proyecto_Monlic/bin/ApplicationInsights.config
Proyecto_Monlic/Proyecto_Monlic/bin/Antlr3.Runtime.pdb
Proyecto_Monlic/Proyecto_Monlic/bin/Antlr3.Runtime.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model1.csdl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model1.msl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model1.ssdl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model123.csdl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model123.msl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model123.ssdl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model2.csdl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model2.msl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/edmxResourcesToEmbed/Models/Model2.ssdl
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/Proyecto_Monlic.csproj.CopyComplete
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/Proyecto_Monlic.csproj.CoreCompileInputs.cache
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/Proyecto_Monlic.csproj.FileListAbsolute.txt
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/Proyecto_Monlic.csprojAssemblyReference.cache
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/Proyecto_Monlic.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/Proyecto_Monlic.pdb
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model1.Context.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model1.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model1.Designer.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model123.Context.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model123.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model123.Designer.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model2.Context.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model2.cs.dll
Proyecto_Monlic/Proyecto_Monlic/obj/Debug/TempPE/Models.Model2.Designer.cs.dll
Proyecto_Monlic/.vs/slnx.sqlite
Proyecto_Monlic/.vs/Proyecto_Monlic/v15/Server/sqlite3/db.lock
Proyecto_Monlic/.vs/Proyecto_Monlic/v15/Server/sqlite3/storage.ide
Proyecto_Monlic/.vs/Proyecto_Monlic/v15/Server/sqlite3/storage.ide-shm
Proyecto_Monlic/.vs/Proyecto_Monlic/v15/Server/sqlite3/storage.ide-wal
Monlic/.vs/Monlic/v15/Server/sqlite3/storage.ide-wal
Monlic/.vs/Monlic/v15/Server/sqlite3/storage.ide-shm
Monlic/.vs/Monlic/v15/Server/sqlite3/storage.ide
Monlic/.vs/Monlic/v15/Server/sqlite3/db.lock
Monlic/Monlic/bin/Antlr3.Runtime.dll
Monlic/Monlic/bin/EntityFramework.dll
Monlic/Monlic/bin/EntityFramework.SqlServer.dll
Monlic/Monlic/bin/Microsoft.AspNet.Identity.Core.dll
Monlic/Monlic/bin/Microsoft.AspNet.Identity.EntityFramework.dll
Monlic/Monlic/bin/Microsoft.AspNet.Identity.Owin.dll
Monlic/Monlic/bin/Microsoft.AspNet.TelemetryCorrelation.dll
Monlic/Monlic/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Monlic/Monlic/bin/Microsoft.Owin.dll
Monlic/Monlic/bin/Microsoft.Owin.Host.SystemWeb.dll
Monlic/Monlic/bin/Microsoft.Owin.Security.dll
Monlic/Monlic/bin/Microsoft.Owin.Security.Facebook.dll
Monlic/Monlic/bin/Microsoft.Owin.Security.Google.dll
Monlic/Monlic/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
Monlic/Monlic/bin/Microsoft.Owin.Security.OAuth.dll
Monlic/Monlic/bin/Microsoft.Owin.Security.Twitter.dll
Monlic/Monlic/bin/Microsoft.Web.Infrastructure.dll
Monlic/Monlic/bin/Newtonsoft.Json.dll
Monlic/Monlic/bin/Owin.dll
Monlic/Monlic/bin/System.Diagnostics.DiagnosticSource.dll
Monlic/Monlic/bin/System.Net.Http.Formatting.dll
Monlic/Monlic/bin/System.Web.Helpers.dll
Monlic/Monlic/bin/System.Web.Http.dll
Monlic/Monlic/bin/System.Web.Http.WebHost.dll
Monlic/Monlic/bin/System.Web.Mvc.dll
Monlic/Monlic/bin/System.Web.Optimization.dll
Monlic/Monlic/bin/System.Web.Razor.dll
Monlic/Monlic/bin/System.Web.WebPages.Deployment.dll
Monlic/Monlic/bin/System.Web.WebPages.dll
Monlic/Monlic/bin/System.Web.WebPages.Razor.dll
Monlic/Monlic/bin/WebGrease.dll
Monlic/Monlic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Monlic/Monlic/obj/Debug/Monlic.csproj.CoreCompileInputs.cache
Monlic/Monlic/obj/Debug/Monlic.csprojAssemblyReference.cache
Monlic/Monlic/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Monlic/Monlic/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Monlic/Monlic/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
XAMAGRAM/_RecursosDev/1.AnexGram/.vs/AnexGram/v15/Server/sqlite3/db.lock
XAMAGRAM/_RecursosDev/1.AnexGram/src/apis/Core.Api/obj/Debug/netcoreapp2.0/Core.Api.AssemblyInfo.cs
XAMAGRAM/_RecursosDev/1.AnexGram/src/apis/Core.Api/obj/Debug/netcoreapp2.0/Core.Api.AssemblyInfoInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/apis/Core.Api/obj/Debug/netcoreapp2.0/Core.Api.assets.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/apis/Core.Api/obj/Debug/netcoreapp2.0/Core.Api.csproj.CoreCompileInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/common/Common/obj/Debug/netcoreapp2.0/Common.AssemblyInfoInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/common/Common/obj/Debug/netcoreapp2.0/Common.assets.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/common/Model/obj/Debug/netcoreapp2.0/Model.AssemblyInfo.cs
XAMAGRAM/_RecursosDev/1.AnexGram/src/common/Model/obj/Debug/netcoreapp2.0/Model.AssemblyInfoInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/common/Model/obj/Debug/netcoreapp2.0/Model.assets.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/persistence/Persistence.DatabaseContext/obj/Debug/netcoreapp2.0/Persistence.DatabaseContext.AssemblyInfo.cs
XAMAGRAM/_RecursosDev/1.AnexGram/src/persistence/Persistence.DatabaseContext/obj/Debug/netcoreapp2.0/Persistence.DatabaseContext.AssemblyInfoInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/persistence/Persistence.DatabaseContext/obj/Debug/netcoreapp2.0/Persistence.DatabaseContext.assets.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/persistence/Persistence.DatabaseContext/obj/Debug/netcoreapp2.0/Persistence.DatabaseContext.csproj.CoreCompileInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/service/Services/obj/Debug/netcoreapp2.0/Services.AssemblyInfo.cs
XAMAGRAM/_RecursosDev/1.AnexGram/src/service/Services/obj/Debug/netcoreapp2.0/Services.AssemblyInfoInputs.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/service/Services/obj/Debug/netcoreapp2.0/Services.assets.cache
XAMAGRAM/_RecursosDev/1.AnexGram/src/service/Services/obj/Debug/netcoreapp2.0/Services.csproj.CoreCompileInputs.cache
