@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}
<link rel="stylesheet" href="~/Content/css/style.css" />
<br />
<br />
<br />
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <h2>
        Compruebe el correo electrónico para restablecer la contraseña.
    </h2>
</div>
	
