@{
    ViewBag.Title = "Contact";
}
@Html.Partial("_Navegation")

<div class="col-md-10 col-md-offset-2">
    <h2>MONLIC</h2>
    <p>
        @Html.Partial("_Carousel")
    </p>

</div>
<script src="~/Content/js/vendor/dataTables.bootstrap4.js"></script>
<script src="~/Content/js/vendor/bootstrap.js"></script>
<script src="~/Content/js/vendor/jquery-1.11.2.min.js"></script>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#carouselExampleControls').carousel();
    });
</script>