@{
    ViewBag.Title = "Inicio";
}

<div class="slides">
    <div class="slide" id="2">
        <div class="content first-content">
            <div class="container-fluid">
                <div class="col-md-3">
                    <div class="author-image"><img src="@Url.Content("~/Content/img/author_image.png")" alt=""></div>
                </div>
                <div class="col-md-9">
                    <h2>MONLIC</h2>
                    <p>Concientizar y educar a toda la población sobre la importancia 
                    de la preservación del medio ambiente, bajo su participación activa
                    en la realización y ejecución de proyectos que surjan desde un 
                    pensamiento ecológico y sustentable, sugiriendo respuestas inmediatas 
                    a situaciones que afecten el medio ambiente.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
